.about-us-container {
  padding: 20px;
}

.header {
  text-align: center;
}

.intro-section {
  margin-bottom: 40px;
}

.info-card {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.info-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      135deg,
      rgba(104, 104, 104, 0.329),
      rgba(141, 141, 141, 0.5)
    ),
    url("/public/images/gradiant-bg.jpg") center/cover;
  z-index: 1;
}

.info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(73, 73, 73, 0.2);
  transition: all 0.7s ease;
}

.info-card:hover::before {
  filter: brightness(1.2);
}

.info-card .MuiCardContent-root {
  position: relative;
  z-index: 2;
}

h1,
h2 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.team .MuiGrid-root,
.testimonials .MuiGrid-root,
.faq .MuiBox-root {
  display: flex;
  justify-content: center;
}

.MuiCardMedia-root {
  width: 100%;
}

.MuiCardContent-root {
  text-align: center;
}

header,
section {
  padding: 20px;
  background: white;

  border-radius: 8px;
}
