.landing-page-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5em;
  color: #333;
}

.slider-section {
  margin-bottom: 40px;
}

.movie-image {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}

.content-section {
  margin-top: 20px;
}

.content-section h2 {
  font-size: 2em;
  color: #444;
  margin-bottom: 10px;
}

.content-section p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}
